<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,285}}</string>
                <key>sourceSize</key>
                <string>{358,285}</string>
            </dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,285}}</string>
                <key>sourceSize</key>
                <string>{358,285}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{303,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,262}}</string>
                <key>sourceSize</key>
                <string>{303,262}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{303,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,234}}</string>
                <key>sourceSize</key>
                <string>{303,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4afa11d051880a9dbef5f78fb477f5f6:1/1$</string>
            <key>textureFileName</key>
            <string>btn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
